@use './variables' as *;

// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

html {
  font-size: $font-size;
  font-family: var(--ff);
  font-weight: $font-weight;
  line-height: $line-height;
}

body {
  margin: 0;
  color: var(--c-tx);
  background-color: var(--c-bg);
  scroll-behavior: smooth;
}

main,
section,
article {
  margin: 0 auto;
  max-width: 1460px;
}

hr {
  border: 0;
  border-top: var(--b);
  margin: 1.2rem 0;
  clear: both;
}
