@use './variables' as *;

// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

dl {
  list-style: none;
}

dl,
ol,
ul {
  margin: 0;
  padding-left: 0;

  dl,
  ol,
  ul {
    margin-left: 1.5rem;
  }
}

dd,
dt,
li {
  margin: 0;
}

dt + dd {
  margin-left: 1.5rem;
}
