[hidden] {
  display: none;
}

:disabled,
:disabled:hover,
:disabled:focus,
:disabled:target,
:disabled:active,
[disabled],
[disabled]:hover,
[disabled]:focus,
[disabled]:target,
[disabled]:active {
  cursor: not-allowed;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-text);
}

:focus,
:focus-visible {
  outline: var(--color-primary) auto 0.1rem;
}
