details {
  cursor: pointer;
  & > summary::after {
    content: "+";
    float: right;
  }
  &[open] > summary::after {
    content: "-";
  }
}

summary {
  display: block;
  padding: 0.67rem 1.2rem 0.67rem; // This vertically centers text on FF, ignored by Webkit
  border-bottom: var(--border);
  font-weight: var(--font-weight-bold);
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
