@use './variables' as *;

// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='color'],
input[type='date'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  appearance: none;
  background-color: var(--c-bg);
  border: var(--b);
  border-radius: $border-radius;
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  height: 3rem;
  padding: 0.67rem 1.2rem; // This vertically centers text on FF, ignored by Webkit
  width: 100%;
  margin: 0.34rem 0;
  color: var(--c-tx);

  &::placeholder {
    color: var(--c-tx);
  }

  &:focus,
  &:target,
  &:active {
    outline: 0;
    border-color: var(--c-pr);
  }
}

input[type='checkbox'] {
  border-radius: $border-radius;
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  appearance: none;
  background-color: var(--c-bg);
  border: 0.1rem solid var(--c-tx);
  height: 1.2rem;
  width: 1.2rem;
  box-shadow: none;
  margin: 0 0.2rem 0 0;
  vertical-align: top;

  &:focus,
  &:target,
  &:active {
    outline: 0;
    border-color: var(--c-pr);
  }

  &:focus,
  &:target {
    box-shadow: var(--bs);
  }

  &:checked {
    border: 0.34rem solid var(--c-pr);
  }
}

label,
legend {
  display: block;
  font-weight: $font-weight-bold;
  margin-bottom: 0.2rem;
}

fieldset {
  margin-bottom: 0.2rem;
  border: 0;
  padding: 0;
}
