@use './variables' as *;

// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: var(--c-pr);
  text-decoration: none;

  &:visited {
    color: var(--c-pr);
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
