$color-initial: #f8f9fa !default;
$color-initial-dark: #212529 !default;
$color-primary: #7b2cbf !default;
$color-primary-dark: #c77dff !default;
$color-secondary: #343a40 !default;
$color-secondary-dark: #f8f9fa !default;
$color-tertiary: #dee2e6 !default;
$color-tertiary-dark: #495057 !default;
$border-radius: 0.4rem !default;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$font-size: 16px !default;
$line-height: 1.6 !default;
