$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;

$border-radius: 0.4rem !default;
$box-shadow: 0 0 0.2rem 0.1rem $color-primary !default;

$font-size: 16px !default;
$font-family: "Comfortaa", Roboto, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$line-height: 1.6 !default;
